-module({{packageName}}_default_logic_handler).

-behaviour({{packageName}}_logic_handler).

-export([is_authorized/2]).
-export([is_forbidden/2]).
-export([handle_request/3]).

-spec handle_request(
    OperationID :: {{packageName}}_api:operation_id(),
    Req :: cowboy_req:req(),
    Context :: #{}
) ->
    {Status :: cowboy:http_status(), Headers :: cowboy:http_headers(), Body :: #{} | {raw, binary()}}.

handle_request(OperationID, Req, Context) ->
    error_logger:error_msg(
        "Got not implemented request to process: ~p~n",
        [{OperationID, Req, Context}]
    ),
    {501, #{}, #{}}.
